* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'trebuchet ms', 'lucida sans unicode', 'lucida grande', 'lucida sans', Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    font-size: 16px;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5em;
}

h1 {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}

p.description {
    font-size: 20px;
    color: #777;
    text-align: center;
    user-select: none;
}

.gallery.grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

@media (max-width: 640px) {
    h2 {
        font-size: 2.75rem;
    }

    p.description {
        font-size: 1.125rem;
    }
}
